@font-face {
    font-family: 'Nunito Sans';
    src: url(fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

:root {
    --verde-zerk: #70877F;
    --laranja-zerk: #F3852B;
    --preto-zerk: #090909;
    --branco-zerk: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--preto-zerk);
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 50vh;

    background-image: linear-gradient(180deg, rgba(243, 133, 43, 0.5) 0%, rgba(9, 9, 9, 1) 100%), url(img/banner.jpg);
    background-repeat: no-repeat;

    background-position: 0% 75%;
}

header {
    height: 200px;
    padding: 20px;
}

header div.container-grid {
    height: 75%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(243, 133, 43, 0.7);
    border-radius: 5px;
    padding: 0 10px;
}

header img {
    width: 100px;
}

header button {
    display: none;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-around;
}

.menu a {
    color: var(--preto-zerk);

    font-family: 'Orbitron';
    font-size: 20px;
    font-weight: bold;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 1000ms ease;
}

.menu a:hover {
    text-decoration-color: #090909;
}

.conteudo-banner {
    height: calc(80vh - 280px);

    display: flex;
    align-items: center;
}

#sobre {
    height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
}

h2 {
    font-family: 'Orbitron';
    font-size: 28px;
    font-weight: bold;
    color: var(--branco-zerk);
}

#sobre p {
    font-family: 'Nunito Sans';
    font-size: 18px;
    color: var(--branco-zerk);

    text-align: left;
}

#cases {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color: var(--laranja-zerk); */

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 20px;

    box-shadow: 0px 5px 35px 0px rgba(242, 242, 242, 0.25);
}

.card img {
    height: 60%;
    width: 100%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card p {
    text-align: left;

    font-family: 'Nunito Sans';
    font-size: 16px;

    padding: 7%;

    color: var(--branco-zerk);
}

.card button {
    width: 90%;
    height: 50px;

    background-color: var(--verde-zerk);

    border: none;
    border-radius: 5px;

    color: var(--preto-zerk);

    font-family: 'Orbitron';
    font-size: 24px;

    cursor: pointer;

    transition: box-shadow 500ms ease;
}

.card button:hover {
    box-shadow: inset 0px 5px 15px 0px rgba(9,9,9,0.55);
}

#portfolio {
    height: 200px;
    margin-bottom: 120px;

    background-image: url(img/hipermercado.jpg);
    background-size: contain;

    background-repeat: no-repeat;

    /* background-attachment: fixed; */

    position: relative;
}

.filtro {
    height: 100%;
    width: 100%;

    background-color: rgba(112, 135, 127, 0.7);

    position: absolute;
    top: 0;

    transition: box-shadow 500ms ease;
}

#portfolio .container-grid {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio a {
    width: fit-content;

    font-family: 'Orbitron';
    font-size: 64px;
    font-weight: bold;

    color: var(--preto-zerk);

    z-index: 0;
}

#portfolio .filtro:hover {
    box-shadow: inset 0px 15px 25px 0px rgba(9,9,9,0.55);
}

#contato {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato h2 {
    margin-bottom: 20px;
}

#contato p {
    font-family: 'Nunito Sans';
    font-size: 18px;

    color: var(--branco-zerk);

    margin: 0 20px;
}

#contato form {
    width: 50%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--branco-zerk);
    font-family: 'Nunito Sans';
}

#contato form label {
    margin-bottom: 15px;
    font-size: 17px;
}

.campo {
    width: 60%;

    margin-bottom: 50px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 50px;

    color: var(--preto-zerk);
    background-color: var(--branco-zerk);

    border: none;
    border-radius: 5px;

    outline: 2px solid rgba(242, 242, 242, 0.5);

    text-indent: 10px;

    font-family: 'Nunito Sans';
    font-size: 18px;
}

.campo-textarea {
    width: 60%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea textarea {
    color: var(--preto-zerk);
    background-color: var(--branco-zerk);

    border: none;
    border-radius: 5px;

    padding: 10px;

    font-family: 'Nunito Sans';
    font-size: 18px;    

    outline: 2px solid rgba(242, 242, 242, 0.5);

    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-zerk);
}

#contato form button {
    height: 50px;
    width: 40%;

    font-family: 'Orbitron';
    font-size: 28px;

    color: var(--preto-zerk);
    background-color: var(--verde-zerk);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: box-shadow 500ms ease;
}

#contato form button:hover {
    box-shadow: inset 0px 5px 15px 0px rgba(9,9,9,0.55);
}

#contato form input::placeholder, 
#contato form textarea::placeholder {
    color: rgba(9,9,9,0.35);
}

footer {
    height: 300px;
}

footer .container-grid {
    height: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icones-redes {
    width: 450px;
    
    display: flex;
    justify-content: space-around;
}

.icones-redes a img {
    width: 100px;
}

.icones-redes a:hover {
    transform: scale(1.10);
}

footer .logo img {
    width: 100px;

    box-shadow: 0px 0px 25px 5px rgba(242, 242, 242, 0.25);
}

.link-jogo h2 {
    margin-bottom: 10px;
}

.link-jogo button {
    height: 50px;
    width: 100%;

    font-family: 'Orbitron';
    font-size: 28px;

    color: var(--preto-zerk);
    background-color: var(--verde-zerk);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: box-shadow 500ms ease;
}

.link-jogo button:hover {
    box-shadow: inset 0px 5px 15px 0px rgba(9,9,9,0.55);
}

@media screen and (max-width: 1300px) {
    header {
        position: relative;
    }

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;

        margin-right: 20px;
    }

    header svg {
        fill: var(--preto-zerk)
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;

        background-color: rgba(9,9,9,0.55);
        
        position: absolute;
        top: 165px;
        right: 0px;
    }

    nav.menu a {
        color: var(--branco-zerk);
    }

    #sobre {
        padding: 100px 15%;
    }

    .card {
        height: 320px;
        width: 200px;
    }

    #contato form {
        width: 75%;
    }
}

@media screen and (max-width: 1100px) {
    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        height: 400px;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    footer {
        height: unset;
    }

    footer .container-grid {
        padding: 80px;

        flex-direction: column;
    }

    footer img {
        margin-bottom: 100px;
    }

    footer h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20%;
    }

    .redes-sociais {
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .card {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 900px) {
    #sobre {
        height: unset;
        margin-bottom: 40px;
    }

    #sobre h2 {
        margin-bottom: 50px;
    }

    #sobre p {
        margin-bottom: 30px;
    }

    #cases, #contato {
        margin-bottom: unset;
    }

    #portfolio a {
        width: 100%;
        text-align: center;
    }

    .campo, .campo-textarea, #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .container-grid {
        width: 90%;
    }

    header img {
        width: 100px;
    }

    .banner {
        background-size: cover;
    }

    #sobre {
        padding-left: 0px;
        padding-right: 0px;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #cases.container-grid {
        width: 100%;
        margin: unset;
    }

    .container-cards {
        flex-wrap: nowrap;

        gap: 40px;

        overflow-x: auto;
    }

    .card {
        height: 400px;
        width: 280px;

        flex-basis: unset;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portfolio {
        margin-bottom: 0;
    }

    #portfolio a {
        font-size: 58px;
    }

    #contato {
        padding-top: 70px;
    }

    #contato h2 {
        margin-bottom: 0px;
    }

    #contato form {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .icones-redes {
        width: 50px;
        justify-content: center;

        gap: 25px;
    }

    .redes-sociais h2 {
        flex-wrap: nowrap;
    }

    .link-jogo h2 {
        flex-wrap: nowrap;
    }

    .link-jogo button {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 420px) {
    .link-jogo button {
        height: fit-content;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 400px) {
    header div.container-grid {
        height: fit-content;
        padding: 10px;
    }

    header img {
        width: 50px;
    }

    header button {
        width: 40px;
        margin-right: unset;
    }

    .redes-sociais {
        height: fit-content;
    }

    .icones-redes {
        width: 25px;

        flex-direction: column;
        align-items: center;
    }
}