@font-face {
    font-family: 'Nunito Sans';
    src: url(fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

:root {
    --verde-zerk: #70877F;
    --laranja-zerk: #F3852B;
    --preto-zerk: #090909;
    --branco-zerk: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--preto-zerk);
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 50vh;

    background-image: linear-gradient(180deg, rgba(243, 133, 43, 0.5) 0%, rgba(9, 9, 9, 1) 100%), url(img/banner.jpg);
    background-repeat: no-repeat;

    background-position: 0% 75%;
}

header {
    height: 200px;
    padding: 20px;
}

header div.container-grid {
    height: 75%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(243, 133, 43, 0.7);
    border-radius: 5px;
    padding: 0 10px;
}

header img {
    width: 100px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-around;
}

.menu a {
    color: var(--preto-zerk);

    font-family: 'Orbitron';
    font-size: 20px;
    font-weight: bold;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 1000ms ease;
}

.menu a:hover {
    text-decoration-color: #090909;
}

.conteudo-banner {
    height: calc(80vh - 280px);

    display: flex;
    align-items: center;
}

#sobre {
    height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
}

h2 {
    font-family: 'Orbitron';
    font-size: 28px;
    font-weight: bold;
    color: var(--branco-zerk);
}

#sobre p {
    font-family: 'Nunito Sans';
    font-size: 18px;
    color: var(--branco-zerk);

    text-align: left;
}

#cases {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color: var(--laranja-zerk); */

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 5px;

    box-shadow: 0px 5px 35px 0px rgba(242, 242, 242, 0.25);
}

.card img {
    height: 60%;
    width: 100%;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card p {
    text-align: left;

    font-family: 'Nunito Sans';
    font-size: 16px;

    padding: 7%;

    color: var(--branco-zerk);
}